

.faqcontainer {
    position: absolute;
    width: 1030px;
    height: 287px;
    left: 370px;
    top: 4513px;
}

.Heading {
    position: absolute;
    width: 401px;
    height: 30px;
    left: 370px;
    top: 4513px;
    font-family: 'Intro Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    
    color: #444B58;
}
.Group60{
    position: absolute;
    width: 880px;
    height: 217px;
    left: 520px;
    top: 4583px;
}