

.container {
    position: absolute;
    left: 0px;
    top: 1905px; 
    width: 1920px;
    height: 580px;
    background-color:  #484283; 
    z-index: 0;
  }
.aboutFigure {
  @media (min-width: 375px) and (max-width: 1024px) {
    display: none;
  }
}

.Heading {
  position: absolute;
  width: 233px;
  height: 30px;
  left: 374px;
  top: 2127px;

  font-family: 'Intro Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;

  color: #FFFFFF;

  @media (min-width: 375px) and (max-width: 1024px) {
    font-size: 24px;
    margin-bottom: 20px;
    padding-top: 50px;
  }
}
.Description {
  position: absolute;
  width: 380px;
  height: 110px;
  left: 374px;
  top: 2177px;

  font-family: 'Intro Book';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;

  color: #FFFFFF;

  @media (min-width: 375px) and (max-width: 1024px) {
    max-width: 100%;
    text-align: center;
    margin: 0 auto 20px auto;
  }
}

.Logo_container{
  position: absolute;
  left: 670px;
  top: 2317px;
  width: 147px;
  height: 20px;  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  gap: 20px;
}
.Logo {
  width: 97px;
  height: 20px;

  font-family: 'Intro Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;

  color: #FFFFFF;
  @media (min-width: 375px) and (max-width: 1024px) {
    text-align: center;
    padding-bottom: 50px;
  }
}

.MaskGroup {
  position: absolute;
  width: 680px;
  height: 580px;
  left: 870px;
  top: 1905px;
}